@import 'colors';

footer {
  --width: 12;
  margin: 150px 0 80px 0;
  @media (min-width: 1140px) {
    margin: 316px 0 100px 0;
  }
  .box-left {
    .title {
      font-size: 20px;
      line-height: 24px;
      color: $black;
      margin-bottom: 5px;
      font-family: 'Rubik-Bold';
      font-weight: normal;
    }

    p {
      margin-top: 26px;
      font-size: 16px;
      line-height: 30px;
      color: $text-color;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 30px;

      li {
        line-height: 30px;
        margin-bottom: 5px;
        font-family: 'Rubik-Regular';
        font-weight: normal;
        display: inline;

        a {
          position: relative;
          margin-right: 20px;

          img {
            height: 34px;
            width: 34px;
            position: relative;
            border-radius: 50%;
            -webkit-box-shadow: 0px 8px 22px -7px $gray;
            box-shadow: 0px 8px 22px -7px $gray;

            &:hover {
              -webkit-box-shadow: 0px 8px 22px -7px $black;
              box-shadow: 0px 8px 22px -7px $black;
            }
          }

          &::before {
            content: '';
            z-index: -1;
            background: $green;
            border-radius: 50%;
            height: 26px;
            width: 26px;
            position: absolute;
            left: 4px;
            bottom: 7px;
          }
        }
      }
    }

    .copyright {
      margin-top: 26px;
      font-size: 16px;
      line-height: 30px;
      color: $gray;
    }
  }
}

.box-right {
  .title {
    font-size: 18px;
    line-height: 30px;
    color: $dark-blue;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
      line-height: 30px;
      margin-bottom: 5px;
      font-family: 'Rubik-Regular';
      font-weight: normal;

      a {
        color: $text-color;
        font-size: 16px;

        &:hover {
          color: $green;
        }
      }
    }
  }
}
