@import 'colors';

.header {
  --width: 12;
  margin: 45px 0 80px 0;
  @media (min-width: 768px) {
    margin: 45px 0 100px 0;
  }
  @media (min-width: 1140px) {
    margin: 45px 0 147px 0;
  }
  .logo{
    font-size: 20px;
    a{
      color: $black;

    }
  }
}
